<div class="panel">
  <h1 style="margin:0">Add Offer</h1>
  <div style="margin-top:12px">
    <%= form_with model: @offer, url: myshop_offer_create_path, local: true do |f| %>
      <div class="form-row">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="form-row">
        <%= f.label :content, 'Details' %>
        <%= f.text_area :content %>
      </div>
      <div class="form-row">
        <%= f.submit 'Publish Offer', class: 'toggle-btn' %>
      </div>
    <% end %>
  </div>
</div>
