<h1>Apply to: <%= @job.title %></h1>

<%= form_with url: submit_application_job_path(@job), local: true do |f| %>
  <div>
    <%= label_tag :applicant_name, 'Your name' %><br>
    <%= text_field_tag :applicant_name %>
  </div>
  <div>
    <%= label_tag :applicant_email, 'Email' %><br>
    <%= email_field_tag :applicant_email %>
  </div>
  <div>
    <%= label_tag :applicant_phone, 'Phone' %><br>
    <%= telephone_field_tag :applicant_phone %>
  </div>
  <div>
    <%= label_tag :message, 'Message' %><br>
    <%= text_area_tag :message %>
  </div>
  <div>
    <%= label_tag :resume_url, 'Resume URL (optional)' %><br>
    <%= text_field_tag :resume_url %>
  </div>
  <div>
    <%= f.submit 'Submit Application', class: 'toggle-btn' %>
  </div>
<% end %>
<h2>Apply for: <%= @job.title %></h2>

<p>If this job redirects externally you'll be sent there automatically. Otherwise use the form below.</p>

<%= form_with url: submit_application_job_path(@job), local: true do |f| %>
  <div class="field">
    <%= label_tag :applicant_name, 'Your name' %>
    <%= text_field_tag :applicant_name %>
  </div>
  <div class="field">
    <%= label_tag :applicant_email, 'Your email' %>
    <%= email_field_tag :applicant_email %>
  </div>
  <div class="field">
    <%= label_tag :message, 'Message / cover letter' %>
    <%= text_area_tag :message, nil, rows: 6 %>
  </div>
  <div class="actions">
    <%= submit_tag 'Submit Application' %>
  </div>
<% end %>
